[DESIGN]
max-attributes=15
max-public-methods=50
max-module-lines=1000

[MISCELLANEOUS]
# Allow lazy imports inside functions for conditional dependencies
notes=FIXME,XXX,TODO

[BASIC]
good-names=i,j,k,e,x,ex,Run,_
